
.board__right_projects{
    width: 264px;
    height: 124px;
    background-color:  #F4F6F8;
    padding: 16px;
}

.board__right_projects p{

font-size: 12px;
font-weight: 500;
line-height: 14.52px;
color: #A6A6A6;

}

.board__right_selected_projects{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 12px;
}
.board__right_selected_project_item{

font-size: 14px;
font-weight: 600;
line-height: 16.8px;
color: #1B1A1D;
   margin-bottom: 16px;
}


.icon_star {
    display: none;
    cursor: pointer;
    transition: 0.3s;
  }
  

  .board__right_projects:hover .icon_star {
    display: block;
  }
  
 
  .icon_star_favorite  {
    filter: brightness(0) saturate(100%) invert(34%) sepia(100%) saturate(747%) hue-rotate(196deg) brightness(99%) contrast(100%);

    fill:#3787EB;
    display: block;
  }
  
  .board__right_selected_projects {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .board__right_selected_project_item {
    font-weight: bold;
    margin-top: 8px;
  }
  
  .board__right_projects img {
    margin-right: 10px;
  }
  