.modal {
   overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   z-index: 5;
  }
  .modal::-webkit-scrollbar {
    width: 0;
}
  
.modal_select label::after,
.modal_task label::after,
.modal_priority label::after{
    content: " *";
    color: #EB597B;
  }
  .modal_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
    width: 936px;
    height: auto;
    padding: 16px 24px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .modal_content h3{
    margin-top: 150px;
  }
  
  .modalActions {
    display: flex;
    gap: 8px;
    /* justify-content: space-between; */
    margin-top: 20px;
  }
  
  .modalActions button {
    padding: 8px 12px;
    cursor: pointer;
  }

  .modal_priority,
  .modal_date,
  .modal_select{
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .modal_text_editor{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .modal_link{
    display: flex;
    justify-content: space-between;
    gap: 16px
  }

  .modal_date{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    max-width: 544px;
    /* flex-wrap: wrap; */
    margin-bottom: 40px;
  }

  .confirmModal{
    width: 304px;
    height: 115px;
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 10px;
    bottom: 0;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .confirmModal_text{
    margin-bottom: 24px;
    font-family: var(--font-inter);
font-size: 16px;
font-weight: 600;
line-height: 19.36px;
color: #222222;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 6;
  }