.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.form label {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.form label span {
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 400;
}

.form label input {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    border-radius: 8px;
    background: #F4F6F8;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.form label input::placeholder {
    border-radius: 8px;
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 400;
}
