.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  max-width: 891px;
  min-height: 351px;
  padding: 50px;
  background: #d9d9d9;
}