.board__right {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.board__right_header {
    width: 100%;
    height: 41px;
    background-color: #f4f6f8;
    margin-bottom: 40px;
    padding: 12px 20px;
}

.board__right_header span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #a6a6a6;
}

.board__right_header span:nth-child(3) {
    color: #3787eb;
}

.board__right_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #1b1a1d;
    margin-bottom: 24px;
}

.board__right_title_checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkboxName {
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    white-space: nowrap;
}

.board__right_selection {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.board__right_selection_item {
    width: 264px;
}

.board__right_selection_item p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #a6a6a6;
    margin-bottom: 6px;
}

.board__right_selection_item input {
    /* width: 264px; */
    /* height: 40px;
    border: none;
    background: #f4f6f8;
    padding: 11.5px 20px;
    border-radius: 8px;  */
}

.board__right_selection_item input ::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #a6a6a6;
}

.board__right_date {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    max-width: 544px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.my_custom_class {
    width: 100%;
}

.doard__right_date_input {
    width: 264px;
}

.board__right_tasks {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    height: 100%;
}

.board__right_tasks::-webkit-scrollbar {
    width: 81px;
}


.board__right_tasks_item {
  height: 100%;
    width: 264px;
    flex-shrink: 0;
}

.board__right_tasks_item h5{
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
color: #1B1A1D;
margin-bottom: 8px;
}

.board__right_tasks_item_tasks{
    display: flex;
    flex-direction: column;
    gap: 8px;
   border-radius: 16px;
   height: 100%;
    overflow: hidden;
    background: #F4F6F8;
    padding: 12px;
   overflow-y: auto ;
}

.board__right_tasks_item_tasks::-webkit-scrollbar {
    width: 0;
}
