.footer {
  padding: 14px;
  height: 50px;
  border: 1px solid #d9d9d9;
  background: #f4f6f8;
}
.footerContent {
  display: flex;
  justify-content: flex-end;
}

.topDevelopers {
  display: flex;
  gap: 20px;
  align-items: center;
}

.topDevelopers p {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
