/* Убираем обводку для панели инструментов (ql-toolbar) */
.ql-toolbar {
    border: none !important;  /* Убираем обводку */
  }
  
  /* Убираем обводку для контейнера редактора (ql-container) */
  .ql-container {
    border: none !important;  /* Убираем обводку */
  }
  
  /* Убираем обводку для контейнера с темой snow */
  .ql-snow .ql-container {
    border: none !important;  /* Убираем обводку */
  }
  
  /* Убираем обводку для контейнера с темой snow */
  .ql-snow .ql-toolbar {
    border: none !important;  /* Убираем обводку */
  }

  /* Убираем обводку для панели инструментов в snow-теме */
.ql-snow .ql-toolbar {
    border: none !important;  /* Обязательно используем !important, чтобы перезаписать стили */
  }
  
  /* Убираем обводку для контейнера с редактором в snow-теме */
  .ql-snow .ql-container {
    border: none !important;
  }




.ql-container .ql-snow{
    min-height: 116px;
    border: none;
    border-top: white;
}

/* В styles.module.css */


.ql-undo::before, .ql-redo::before {
    content: ''; 
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  
  /* Стрелка влево для undo */
  .ql-undo::before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #000; /* Стрелка влево */
    margin-right: 2px; /* Немного отступа справа */
  }
  
  /* Стрелка вправо для redo */
  .ql-redo::before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #000; /* Стрелка вправо */
    margin-left: 2px; /* Немного отступа слева */
  }
  
  /* Убираем фон и рамки */
  .ql-undo, .ql-redo {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  